/* HomePage 헤더 스타일(수정)ㄴ*/
.home-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-icon {
  left: -20px;
  width: 40px; 
  height: auto; 
  cursor: pointer; 
  position: relative;
}

.cart-count {
  position:absolute;
  right: 5px;
  top: 45px;
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}

/* Cart 헤더 스타일(수정) */
.cart-header{
  background-color: #000000;
  min-height: 10vh;
  align-items: center;
  display: flex;
}

.cart-back-button {
  width: 40px; 
  height: auto; 
  cursor: pointer; 
}


/* Cart 페이지 스타일(수정) */
.cart-container {
  padding: 20px;
  cursor: pointer;
}

.back-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.back-button:hover {
  text-decoration: underline;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-item-image {
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-size: 16px;
  font-weight: bold;
}

.cart-item-price {
  font-size: 14px;
  color: #555;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #e0e0e0;
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  margin: 0 5px;
}

.cart-item-quantity span {
  font-size: 18px;
  margin: 0 10px;
}

.cart-summary {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 20px;
}

.cart-summary-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-summary-item.total {
  border-top: 1px solid #ddd;
  font-weight: bold;
}

.checkout-button {
  width: 100%;
  padding: 10px;
  background-color: #393939;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.checkout-button:hover {
  background-color: #0056b3;
}

/* cardlist 헤더 스타일 & 페이지*/
.header.cardlist-header{
  background-color: white;
  color: black;
}

.new-card{
  text-align: center;
}

.cardlist-header-content{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cardlist-title{
  padding-left: 30px;
  padding-top: 10px;
  font-size: 1.5rem;
}

.cardlist-close-button{
  padding-right: 30px;
  padding-bottom: 30px;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.cardlist-close-button::before{
  content: 'x';
  font-size: 2rem;
  color: #000;
}

.addcard-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.addcard-button {
  width: 350px;
  height: 200px;
  margin: 25px;
  padding: 25px;
  border-radius: 10px;
  border: none;
  background: #f0f0f0; 
  cursor: pointer; 
}

.addcard-button::before {
  content: '+';
  font-size: 3rem;
  color: #000;
}

/* ProductCard 페이지 스타일 */
.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 10px;
  background-color: #ffffff;
}

.product-card img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  display: block;
}

.product-card .product-name {
  font-size: 20px;
  margin: 10px 15px;
  font-weight: bold;
}

.product-card .product-description {
  font-size: 16px;
  margin: 5px 15px;
  color: #555;
}

.product-card .product-price {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 15px;
}


/* Addcard 페이지 헤더 스타일 */
.header.addcard-header {
  
  background-color: white;
  color: black;
}

.addcard-back-button{
  width: 40px; 
}

.addcard-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.left-content {
  display: flex;
  align-items: center;
}


.addcard-title {
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.right-content {
  display: flex;
  justify-content: flex-end;
}

.addcard-close-button {
  padding-right: 30px;
  padding-bottom: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}


.addcard-close-button::before{
  content: 'x';
  font-size: 2rem;
  color: #000;
}


/* Addcard 페이지 스타일 */
.addcard-container {
  background-color: #fff;
  border: none;
  padding: 20px;
  width: 300px;
}

.addcard-form {
  border: none;
  display: flex;
  flex-direction: column;
}

/* .addcard-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 14px;
  color: #666;
} */

.addcard-form input[type="text"],
.addcard-form input[type="password"] {
  width: calc(100% - 20px);
  margin: 5px 0;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ECEBF1;
}

.card-password-input {
  display: flex;
  align-items: center;
}

.card-password-box {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  text-align: center;
  border: none;
  border-radius: 4px;
  background-color: #ECEBF1;
}

.card-password-dots {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.card-password-dot {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #333;
}

.addcard-form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.addcard-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.link-container {
  margin-top: 20px;
  text-align: center;
}

.link-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* AddCartButton 스타일 */
.add-cart-button {
  background-color: #000000; 
  color: white; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
  justify-content: center;
  font-size: 15px; 
  cursor: pointer; 
}

.add-cart-button:active {
  transform: scale(0.98); 
}

.add-cart-button:disabled {
  background-color: #6c757d; 
  cursor: not-allowed; 
}

/* addcard 페이지 스타일 */
.addcard-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.addcard-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.addcard-container {
  display: flex;
  flex-direction: column;
}

.addcard-container label {
  margin-bottom: 15px;
  font-size: 16px;
}

.addcard-container input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.addcard-form button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.addcard-form button:hover {
  background-color: #000000;
}

.link-container {
  margin-top: 20px;
  text-align: center;
}

.link-container button {
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: red;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}


/* Buy Product 버튼 스타일 */
.buy-product {
  background-color: #FFEF64;
  color: black; 
  border: none; 
  border-radius: 20px; 
  padding: 10px 20px; 
  justify-content: center;
  font-size: 15px; 
  cursor: pointer; 
}



